@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-icon {
    @apply relative flex
           p-3
           my-auto
           bg-gray-800 text-green-500 
           hover:bg-green-600 hover:text-white
           rounded-xl hover:rounded-3xl
           transition-all
           cursor-pointer;
  }

  .navbar-icon-tip {
    @apply absolute top-full mt-2 px-3 py-1
           text-white bg-black rounded-md 
           shadow-md 
           transform -translate-x-1/2 
           left-1/2;
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}