@tailwind base;
@tailwind components;
@tailwind utilities;

/*
*:focus-visible {
    outline: 2px solid #ffffff;
}
*/

.gm-style div {
  border: none !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  body {
    @apply min-h-screen flex flex-col text-black bg-white;
  }

  main {
    @apply flex-grow flex flex-col;
  }
}
